<html>
<head>
<title>Cortex Roller</title>

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel='stylesheet' type='text/css' href="{% static 'players/style.css' %}" />
<script src="{% static 'players/jquery-3.3.1.min.js' %}"></script>
<script>
	var dice_updated = "";
	var dice_list = [];
	var messages_updated= "";
	var message_list = [];
	var rolls_updated = "";
	var roll_list = [];
	var recent_roll;

	(function poll(){
		ajax_command('poll', 0);
		setTimeout(function(){
			poll();
		}, 5000);
	})();

	$(function() {
		$('#message-form').on('submit', function(event) {
			event.preventDefault();
			ajax_command('message', $('#message-text').val());
			$('#message-text').val('');
		});

		$('#d4-add').click(function() {
			ajax_command('adddie', 4);
		});

		$('#d6-add').click(function() {
			ajax_command('adddie', 6);
		});

		$('#d8-add').click(function() {
			ajax_command('adddie', 8);
		});

		$('#d10-add').click(function() {
			ajax_command('adddie', 10);
		});

		$('#d12-add').click(function() {
			ajax_command('adddie', 12);
		});

		$('#roll-all').click(function() {
			ajax_command('rollall', 0);
		});

		$('#remove-all').click(function() {
			ajax_command('delall', 0);
		});

		$('#remove-some').click(function() {
			ajax_command('deldice', 0);
		});

		$("#keep-dice").click(function() {
			ajax_command('keep', 0);
		});

		$("#total-some").click(function() {
			ajax_command('totaldice', 0);
		});

		$("#effect-some").click(function() {
			ajax_command("effectdice", 0);
		});

		$("#clear-history").click(function() {
			ajax_command("clearhistory", 0);
		});

		$("#total-best").click(function() {
			ajax_command("totalbest", 0);
		});

		$("#effect-best").click(function() {
			ajax_command("effectbest", 0);
		});

		$("#tag-none").click(function() {
			ajax_command("tagnone", 0);
		});

		$("#step-up").click(function() {
			ajax_command("updice", 0);
		});

		$("#step-down").click(function() {
			ajax_command("downdice", 0);
		});

		$("#roll-some").click(function() {
			ajax_command('rolldice', 0);
		});

		$("#sort-result").click(function() {
			draw_dice();
		});

		$(document).on("click", ".dice-check", function() {
			ajax_command("toggledie", $( this ).attr('id'));
		});

		$(document).on("click", ".del-message", function() {
			var message_id = $( this ).attr("id").substring(4);
			$("#message-text").val( $("#" + message_id).text() );
			ajax_command("delmessage", message_id);
		});
	});

	function ajax_command(in_command, in_param) {
		$.ajax({
			url : 'ajax/',
			type : 'post',
			data : {
				command : in_command,
				param : in_param,
				csrfmiddlewaretoken : '{{ csrf_token }}'
			},
			dataType : 'json',

			success : function(json) {
				if (dice_updated != json.dice_update || dice_list.length != json.dice_list.length) {
					dice_updated = json.dice_update;
					dice_list = json.dice_list;
					draw_dice();
				}
				if (messages_updated != json.message_update || message_list.length != json.message_list.length) {
					messages_updated = json.message_update;
					message_list = json.message_list;
					draw_messages();
				}
				if (recent_roll != json.roll) {
					recent_roll = json.roll;
					$("#roll").empty();
					$("#roll").append(recent_roll);
				}
				if (rolls_updated != json.roll_update || roll_list.length != json.roll_list.length) {
					rolls_updated = json.roll_update;
					roll_list = json.roll_list;
					draw_rolls();
				}

			},

			error : function(xhr, errmsg, err) {
				console.log("must be an ajax error")
			}
		});
	}

	function draw_dice() {
		if ($("#sort-result").is(":checked")) {
			dice_list.sort(function(a, b) {
				if (a.result < b.result) {
					return -1;
				} else if (a.result > b.result) {
					return 1;
				} else if (a.faces < b.faces) {
					return -1;
				} else if (a.faces > b.faces) {
					return 1;
				} else if (a.timestamp < b.timestamp) {
					return -1;
				} else {
					return 1;
				}
			});
		} else {
			dice_list.sort(function(a, b) {
				if (a.faces < b.faces) {
					return -1;
				} else if (a.faces > b.faces) {
					return 1;
				} else if (a.timestamp < b.timestamp) {
					return -1;
				} else {
					return 1;
				}
			});
		}

		$('#dice-row').empty();
		for (var i = 0; i < dice_list.length; i++) {
			var uuid = dice_list[i].uuid;
			var faces = dice_list[i].faces;
			var result = dice_list[i].result;
			if (result == 0) {
				result = '&nbsp;';
			}
			var selected = "";
			if (dice_list[i].selected) {
				selected = "checked";
			}
			var die_tag = '';
			if (dice_list[i].tag == "T") {
				die_tag = "Total";
			} else if (dice_list[i].tag == "E") {
				die_tag = "Effect";
			}
			$('#dice-row').append("<div class='dice-box dice-image" + faces + "'>D" + faces + "<br><span style='font-size:xx-large'>" + result + "</span><br>" + die_tag + "<input type='checkbox' class='dice-check' id='" + uuid + "' " + selected + "></input></div>");
		}
	}

	function draw_messages() {
		$("#message-table").empty();
		for (var i = 0; i < message_list.length; i++) {
			$("#message-table").append("<div class='message-row'><div id='" + message_list[i].uuid + "' class='message-class'>" + message_list[i].text + "</div><div class='message-controls'><button id='del-" + message_list[i].uuid + "' class='del-message'>Remove</button></div></div>");
		}
	}

	function draw_rolls() {
		$("#past-rolls").empty();
		for (var i = 0; i < roll_list.length; i++) {
			$("#past-rolls").append(roll_list[i] + "<br/>");
		}
	}

</script>

</head>
<body>

<div class="big-box">

<div class='block-header'>Dice Pool</div>

<div class="button-row">
	<div class="button-group">
	Add:
	<button id='d4-add'>D4</button>
	<button id='d6-add'>D6</button>
	<button id='d8-add'>D8</button>
	<button id='d10-add'>D10</button>
	<button id='d12-add'>D12</button>
	</div>

	<div class="button-group">
	Selected:
	<button id='step-up'>Up</button>
	<button id='step-down'>Down</button>
	<button id='total-some'>Total</button>
	<button id='effect-some'>Effect</button>
	<button id='roll-some'>Roll</button>
	<button id='remove-some'>Remove</button>
	</div>
</div>

<div class="button-row">
	<div class="button-group">
	Mark Best:
	<button id="total-best">Total</button>
	<button id="effect-best">Effect</button>
	<button id="tag-none">None</button>
	</div>

	<div class="button-group">
	All:
	<button id='roll-all'>Roll</button>
	<button id='remove-all'>Remove</button>
	<button id='keep-dice'>Keep</button>
	</div>
</div>

<div class='dice-all'>
<div class='dice-row' id='dice-row' aria-live="polite" aria-atomic="true">
</div>
</div>

<div id='roll' class="roll" aria-live="polite"></div>

<div class='bottom-info'>

<div class="options-box">
<div class="block-header">Options</div>
<input type="checkbox" id="sort-result" name="sort-result">
<label for="sort-result">Sort dice by result</label>
</div>

<div class='roll-box'>
<div class='block-header'>Past Rolls</div>
<div id='past-rolls' aria-live="polite"></div>
<button id="clear-history">Clear History</button>
</div>

<div class='message-box'>
<div class='block-header'>Sticky Notes</div>
<div id='message-table' aria-live="polite">
</div>
<form action='message/' method='POST' id='message-form'>
	{% csrf_token %}
	<!-- this no longer needs to be a form -->
	<label for="message-text">New Note:</label>
	<input type='text' size='40' name='message-text' id='message-text'/>
	<input type='submit' value='Post Note' />
</form>
</div>

</div>

<div class="about-box">
Cortex RPG Die Roller v0.1.1 - Send the address of this page to your other players! - 
<a href="{% static 'players/about.html' %}" target="_blank">About</a>
</div>

</body>
</html>
