<html>
<head>
<title>Cortexatron</title>

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel='stylesheet' type='text/css' href="{% static 'players/style-103.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{% static 'players/jquery-3.7.1.min.js' %}"></script>
<script>
	var dice_updated = "";
	var dice_list = [];
	var messages_updated= "";
	var message_list = [];
	var rolls_updated = "";
	var roll_list = [];
	var recent_roll;

	(function poll(){
		ajax_command('poll', 0);
		setTimeout(function(){
			poll();
		}, 5000);
	})();

	$(function() {
		$('#post-message').click(function() {
			ajax_command('message', $('#message-text').val());
			$('#message-text').val('');
		});

		$("#message-text").keyup(function(event) {
			if (event.keyCode === 13) {
				ajax_command('message', $('#message-text').val());
				$('#message-text').val('');
			}
		})

		$('#d4-add').click(function() {
			ajax_command('adddie', 4);
		});

		$('#d6-add').click(function() {
			ajax_command('adddie', 6);
		});

		$('#d8-add').click(function() {
			ajax_command('adddie', 8);
		});

		$('#d10-add').click(function() {
			ajax_command('adddie', 10);
		});

		$('#d12-add').click(function() {
			ajax_command('adddie', 12);
		});

		$('#roll-all').click(function() {
			ajax_command('rollall', 0);
		});

		$('#remove-all').click(function() {
			ajax_command('delall', 0);
		});

		$("#keep-dice").click(function() {
			ajax_command('keep', 0);
		});

		$("#clear-history").click(function() {
			ajax_command("clearhistory", 0);
		});

		$("#total-best").click(function() {
			ajax_command("totalbest", 0);
		});

		$("#effect-best").click(function() {
			ajax_command("effectbest", 0);
		});

		$("#tag-none").click(function() {
			ajax_command("tagnone", 0);
		});

		$("#sort-result").click(function() {
			draw_dice();
		});

		$("#text-result").click(function() {
			draw_dice();
		});

		$("#group-result").click(function() {
			draw_dice();
		});

		$("#one-click-mode").click(function() {
			draw_check_behavior();
		})

		$("#roll-notations").click(function() {
			toggle_notation_fields();
		})

		$(document).on("click", ".del-message", function() {
			var message_id = $( this ).attr("id").substring(4);
			$("#message-text").val( $("#" + message_id).text() );
			ajax_command("delmessage", message_id);
		});

		$(document).on("click", ".dice-check", function() {
			if ($("#one-click-mode").is(":checked")) {
				var die_id = $( this ).attr("id");
				if ($("#behave-rotate").is(":checked")) {
					ajax_command("rotatedie", die_id);
				} else if ($("#behave-up").is(":checked")) {
					ajax_command("updice", die_id);
				} else if ($("#behave-down").is(":checked")) {
					ajax_command("downdice", die_id);
				} else if ($("#behave-roll").is(":checked")) {
					ajax_command("rolldice", die_id);
				} else if ($("#behave-remove").is(":checked")) {
					ajax_command("deldice", die_id);
				}
			}
		});

		$(document).on("click", "#total-some", function() {
			ajax_command('totaldice', checked_dice_ids());
		});

		$(document).on("click", "#effect-some", function() {
			ajax_command("effectdice", checked_dice_ids());
		});

		$(document).on("click", "#step-up", function() {
			ajax_command("updice", checked_dice_ids());
		});

		$(document).on("click", "#step-down", function() {
			ajax_command("downdice", checked_dice_ids());
		});

		$(document).on("click", "#roll-some", function() {
			ajax_command('rolldice', checked_dice_ids());
		});

		$(document).on("click", "#remove-some", function() {
			ajax_command('deldice', checked_dice_ids());
		});

		$(document).ready(function() {
    	draw_check_behavior();
		});

	});

	function ajax_command(in_command, in_param) {
		$.ajax({
			url : 'ajax/',
			type : 'post',
			data : {
				command : in_command,
				param : in_param,
				csrfmiddlewaretoken : '{{ csrf_token }}'
			},
			dataType : 'json',

			success : function(json) {
				if (json.error) {
					draw_error(json.error);
				} else {
					if (dice_updated != json.dice_update || dice_list.length != json.dice_list.length) {
						dice_updated = json.dice_update;
						dice_list = json.dice_list;
						draw_dice();
					}
					if (messages_updated != json.message_update || message_list.length != json.message_list.length) {
						messages_updated = json.message_update;
						message_list = json.message_list;
						draw_messages();
					}
					if (recent_roll != json.roll) {
						recent_roll = json.roll;
						$("#roll").empty();
						$("#roll").append(recent_roll);
					}
					if (rolls_updated != json.roll_update || roll_list.length != json.roll_list.length) {
						rolls_updated = json.roll_update;
						roll_list = json.roll_list;
						draw_rolls();
					}
				}
			},

			error : function(xhr, errmsg, err) {
				draw_error("AJAX error");
			}
		});
	}

	function draw_dice() {
		if ($("#sort-result").is(":checked")) {
			dice_list.sort(function(a, b) {
				if (a.result == 0 && b.result > 0) {
					return 1;
				} else if (a.result > 0 && b.result == 0) {
					return -1;
				} else if (a.result < b.result) {
					return -1;
				} else if (a.result > b.result) {
					return 1;
				} else if (a.faces < b.faces) {
					return -1;
				} else if (a.faces > b.faces) {
					return 1;
				} else if (a.timestamp < b.timestamp) {
					return -1;
				} else {
					return 1;
				}
			});
		} else {
			dice_list.sort(function(a, b) {
				if ($("#group-result").is(":checked")) {
					if (a.result == 1 && b.result != 1) {
						return -1;
					} else if (a.result != 1 && b.result == 1) {
						return 1;
					}
				}
				if (a.faces < b.faces) {
					return -1;
				} else if (a.faces > b.faces) {
					return 1;
				} else if (a.timestamp < b.timestamp) {
					return -1;
				} else {
					return 1;
				}
			});
		}

		$('#dice-row').empty();
		if (dice_list.length == 0) {
			$("#dice-row").append("<br>no dice");
		}
		for (var i = 0; i < dice_list.length; i++) {
			var uuid = dice_list[i].uuid;
			var faces = dice_list[i].faces;
			var result = dice_list[i].result;
			var tag = dice_list[i].tag;
			var spacer = false;

			if ($("#group-result").is(":checked")) {
				if (result == 1 && i < dice_list.length - 1) {
					if (dice_list[i+1].result > 1) {
						spacer = true;
					}
				}
			}

			if ($("#text-result").is(":checked")) {
				var description;
				if (result > 0) {
					description = "" + result;
				} else {
					description = "unrolled";
				}
				if (tag == "T") {
					description += ", Total";
				} else if (tag == "E") {
					description += ", Effect";
				}
				$("#dice-row").append("<label for='" + uuid + "'>D" + faces + " is " + description + "</label><input type='checkbox' class='dice-check inline-check' id='" + uuid + "' name='" + uuid + "'>");
			} else {
				if (result == 0) {
					result = "&nbsp;";
				}
				var verbose_tag = '';
				if (tag == "T") {
					verbose_tag = "Total";
				} else if (tag == "E") {
					verbose_tag = "Effect";
				} else {
					verbose_tag = "&nbsp;";
				}
				$('#dice-row').append("<div class='dice-box dice-image" + faces + "'><p class='dice-faces'>D" + faces + "</p><p class='dice-result'>" + result + "</p><p class='dice-tag'>" + verbose_tag + "<input type='checkbox' class='dice-check right-check' id='" + uuid + "'></p></div>");
				if (spacer) {
					$("#dice-row").append("<div class='dice-spacer'></div>");
				}
			}

		}
	}

	function draw_messages() {
		$("#message-table").empty();
		for (var i = 0; i < message_list.length; i++) {
			$("#message-table").append("<div class='message-row'><div id='" + message_list[i].uuid + "' class='message-class'>" + message_list[i].text + "</div><div class='message-controls'><button class='baseline-button del-message' id='del-" + message_list[i].uuid + "'>Remove</button></div></div>");
		}
	}

	function draw_rolls() {
		$("#past-rolls").empty();
		for (var i = 0; i < roll_list.length; i++) {
			$("#past-rolls").append("<a href='../rolls/" + roll_list[i].uuid + "' target='_blank'>" + roll_list[i].text + "</a><br/>");
		}
	}

	function draw_error(message) {
		$("#error-box").empty();
		if (message) {
			$("#error-box").append(message);
			setTimeout(draw_error, 5000);
		} else {
			$("#error-box").append("&nbsp;");
		}
	}

	function checked_dice_ids() {
		var ids = [];
		$(".dice-check").filter(":checked").each(function(index) {
			ids.push($( this ).attr("id"));
		});
		return ids.join(",");
	}

	function draw_check_behavior() {
		$('#check-behavior').empty();
		if ($("#one-click-mode").is(":checked")) {
			$("#check-behavior").append(
				"<div class='radio-group'> \
				<input type='radio' id='behave-rotate' name='behave' value='behave-rotate' checked> \
				<label for='behave-rotate'>Rotate between total/effect/unmarked</label><br> \
				<input type='radio' id='behave-up' name='behave' value='behave-up'> \
				<label for='behave-up'>Step up</label><br> \
				<input type='radio' id='behave-down' name='behave' value='behave-down'> \
				<label for='behave-down'>Step down</label><br> \
				<input type='radio' id='behave-roll' name='behave' value='behave-roll'> \
				<label for='behave-roll'>Roll</label><br> \
				<input type='radio' id='behave-remove' name='behave' value='behave-remove'> \
				<label for='behave-remove'>Remove</label> \
				</div>"
			);
		} else {
			$("#check-behavior").append(
				"<button id='step-up' class='half-button'>Step Up Checked Dice</button> \
				<button id='step-down' class='half-button'>Step Down Checked Dice</button> \
				<button id='roll-some' class='half-button'>Roll Checked Dice</button> \
				<button id='remove-some' class='half-button'>Remove Checked Dice</button> \
				<button id='total-some' class='half-button'>Checked Dice Are Total</button> \
				<button id='effect-some' class='half-button'>Checked Dice Are Effect</button>"
			);
		}
	}

	function toggle_notation_fields() {
		if ($("#roll-notations").is(":checked")) {
			$("#notation-fields").css("display", "table");
		} else {
			$("#notation-fields").css("display", "none");
		}
	}

</script>

</head>
<body>

<div class="big-box">

<h1>Dice Pool</h1>

<div class='dice-all'>
<div class='dice-row' style="min-height:100px" id='dice-row' aria-live="polite">
<br>no dice
</div>
</div>

<div id='roll' class="roll" aria-live="polite"></div>
<div style="text-align:center;max-width:500px;margin:auto">

<div id="notation-fields" style="display:none;width:100%;text-align:left" hidden>
	<div style="display:table-row;">
	<label style="display:table-cell;text-align:right" for="player-notation">Player:</label>
	<input style="display:table-cell;width:100%" type="text" name="player-notation" id="player-notation">
	</div>
	<div style="display:table-row;">
	<label style="display:table-cell;text-align:right" for="remarks-notation">Remarks:</label>
	<input style="display:table-cell;width:100%" type="text" name="remarks-notation" id="remarks-notation">
	</div>
</div>

<button id='keep-dice'>Keep Results</button>
</div>

<div class="button-row">
	<div class="button-group">
	<h2>Add Dice</h2>
	<button id='d4-add' class='fifth-button'>Add D4</button>
	<button id='d6-add' class='fifth-button'>Add D6</button>
	<button id='d8-add' class='fifth-button'>Add D8</button>
	<button id='d10-add' class='fifth-button'>Add D10</button>
	<button id='d12-add' class='fifth-button'>Add D12</button>
	</div>

	<div class="button-group">
	<h2>For All Dice</h2>
	<button id='roll-all' class='half-button'>Roll All Dice</button>
	<button id='remove-all' class='half-button'>Remove All Dice</button>
	</div>
</div>

<div class="button-row">
	<div class="button-group">
	<h2>Quick Choices</h2>
	<button id="total-best" class='third-button'>Best Total</button>
	<button id="effect-best" class='third-button'>Best Effect</button>
	<button id="tag-none" class='third-button'>Clear Total &amp; Effect</button>
	<a href="../about" target="_blank">These buttons work differently now</a>
	</div>

	<div class="button-group">
	<h2>For Checked Dice</h2>
	<div id="check-behavior">
	</div>
	</div>
</div>

<div class='bottom-info'>

<div class='bottom-box large-bottom-box'>
<h1>Past Rolls</h1>
<div id='past-rolls' aria-live="polite"></div>
<button id="clear-history">Clear History</button>
</div>

<div class='bottom-box small-bottom-box'>
<h1>Sticky Notes</h1>
<div id='message-table' aria-live="polite"></div>
<label for="message-text">New Note:</label>
<input type='text' size='30' name='message-text' id='message-text'/>
<button class="baseline-button" id="post-message">Post Note</button>
</div>

<div class="bottom-box small-bottom-box">
<h1>Options</h1>
<input type="checkbox" id="sort-result" name="sort-result">
<label for="sort-result">Sort dice by result</label>
<br>
<input type="checkbox" id="group-result" name="group-result">
<label for="group-result">Show ones separately</label>
<br>
<input type="checkbox" id="text-result" name="text-result">
<label for="text-result">Show dice as text</label>
<br>
<input type="checkbox" id="one-click-mode" name="one-click-mode">
<label for="one-click-mode">One-click mode for dice checkboxes</label>
<br>
<input type="checkbox" id="roll-notations" name="roll-notations">
<label for="roll-notations">Allow remarks for kept rolls</label>
</div>

</div>

<div id="error-box" class="error-box">
&nbsp;
</div>

<div class="about-box">
<p class="about-para">
<strong>Cortexatron (Cortex RPG Die Roller) v1.1</strong> -
<a href="../about" target="_blank">About</a> -
<a href="../random" target="_blank">Randomness</a> -
<a href="http://donbisdorf.com" target="_blank">My Blog</a> -
<a href="{% static 'players/about.html' %}#donate" target="_blank">Donate</a>
</p>
<p class="about-para">
This web page is a Cortexatron "room" that you can share with other players.
Send the address of this page
(<a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a>)
to your fellow players, and you'll all be able to watch each other's dice rolls, in real time.
If you want a different room, just browse to
<a href="../..">the main Cortexatron address</a>
and the system will send you to a new room.
</p>
</div>

</body>
</html>
