.big-box {
	width: 900px;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: white;
	background: black;
}

h2 {
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin: 0px;
}

.button-row {
	display: table;
	width: 100%;
}

.button-group {
	display: table-cell;
	padding: 5px;
	width: 50%;
}

.half-button {
	width: 47%;
}

.third-button {
	width: 32%;
}

.fifth-button {
	width: 18%;
}

.dice-all {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
}

.dice-box {
	text-align: center;
	border: 1px solid;
	padding: 5px;
	width: 70px;
	display: table-cell;
	background-size: contain;
	background-repeat: no-repeat;
}

.dice-spacer {
	display: table-cell;
	width: 20px;
}

.dice-check {
}

.dice-faces {
	margin: 0px;
}

.dice-result {
	font-size: xx-large;
	margin: 0px;
}

.dice-tag {
	text-align: left;
	margin: 0px;
}

.inline-check {
	margin-right: 15px;
}

.right-check {
	float: right;
}

.roll {
	text-align: center;
	font-weight: bold;
	font-size: large;
}

.bottom-info {
	display: table;
	width: 100%;
}

.options-box {
	display: table-cell;
	padding: 10px;
	width: 25%;
}

.roll-box {
	display: table-cell;
	padding: 10px;
	width: 25%;
}

.message-box {
	display: table-cell;
	padding: 10px;
	width: 50%;
}

.message-row {
	display: table;
	padding: 5px;
}

.message-class {
	display: table-cell;
	width: 300px;
	border: 1px solid;
	text-align: center;
	padding: 10px;
}

.message-controls {
	display: table-cell;
	padding: 5px;
}


.about-box {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

.error-box {
	text-align: center;
	font-weight: bold;
	color: red;
}

.dice-image4 {
	background-image: url('d4.png');
}

.dice-image6 {
	background-image: url('d6.png');
}

.dice-image8 {
	background-image: url('d8.png');
}

.dice-image10 {
	background-image: url('d10.png');
}

.dice-image12 {
	background-image: url('d12.png');
}

